<a href="https://colab.research.google.com/github/marcioshochi/data-scientist-trainning/blob/master/treinamentoMachineLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [11]:
url = "https://raw.githubusercontent.com/alura-cursos/machine-learning-algoritmos-nao-supervisionados/master/movies.csv"
filmes = pd.read_csv(url)
filmes.columns = ["filme_id", "titulo", "generos"]
filmes.head(10)

   filme_id  ...                                      generos
0         1  ...  Adventure|Animation|Children|Comedy|Fantasy
1         2  ...                   Adventure|Children|Fantasy
2         3  ...                               Comedy|Romance
3         4  ...                         Comedy|Drama|Romance
4         5  ...                                       Comedy
5         6  ...                        Action|Crime|Thriller
6         7  ...                               Comedy|Romance
7         8  ...                           Adventure|Children
8         9  ...                                       Action
9        10  ...                    Action|Adventure|Thriller

[10 rows x 3 columns]

In [14]:
generos = filmes.generos.str.get_dummies()
generos.head(10)

   (no genres listed)  Action  Adventure  ...  Thriller  War  Western
0                   0       0          1  ...         0    0        0
1                   0       0          1  ...         0    0        0
2                   0       0          0  ...         0    0        0
3                   0       0          0  ...         0    0        0
4                   0       0          0  ...         0    0        0
5                   0       1          0  ...         1    0        0
6                   0       0          0  ...         0    0        0
7                   0       0          1  ...         0    0        0
8                   0       1          0  ...         0    0        0
9                   0       1          1  ...         1    0        0

[10 rows x 20 columns]

In [16]:
dados_dos_filmes = pd.concat([filmes, generos], axis=1)
dados_dos_filmes.head()

   filme_id                              titulo  ... War  Western
0         1                    Toy Story (1995)  ...   0        0
1         2                      Jumanji (1995)  ...   0        0
2         3             Grumpier Old Men (1995)  ...   0        0
3         4            Waiting to Exhale (1995)  ...   0        0
4         5  Father of the Bride Part II (1995)  ...   0        0

[5 rows x 23 columns]

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
generos_escalados = scaler.fit_transform(generos)
generos_escalados.shape

(9742, 20)

In [0]:
from sklearn.cluster import KMeans

In [24]:
modelo = KMeans(n_clusters= 3)
modelo.fit(generos_escalados)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [25]:
print("grupos {}".format(modelo.labels_))

grupos [0 0 1 ... 1 0 1]